* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  width: 100vw;
  padding: 23px;
  background-color: #292a2d;
}

#input-box {
  border: 1px solid black;
  padding: 23px;
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 6px;
  color: white;
  font-size: 0.9rem;
}

button {
  background: transparent;
  color: white;
  padding: 4px 6px;
  border: 1px solid white;
  cursor: pointer;
}
#addNote,
#save {
  background: transparent;
  color: white;
  padding: 8px 12px;
  border: 1px solid white;
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: 10px;
}
#addNote.active {
  background-color: rgb(162, 160, 160);
}

#notes,
#deletednotes,
#archived {
  padding: 23px;
  display: flex;
  flex-wrap: wrap;
}
.note {
  width: 380px;
  color: #a1a0a0;
  overflow-wrap: break-word;
  margin: 12px;
  padding: 12px;
  border: 1px solid black;
  background: transparent;
  border-radius: 10px;
}

.deleteNote,
.archiveNote,
.editNote {
  cursor: pointer;
  float: right;
  margin: 0.3rem;
  border-radius: 6px;
}
nav {
  margin: 1rem 1rem 1rem 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  background-color: rgb(35, 35, 40);
  border-radius: 10px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

h1,
h2,
h3 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media only screen and (max-width: 497px) {
  nav {
    margin: 0.5rem 0.5rem 0.8rem 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background-color: rgb(35, 35, 40);
    border-radius: 6px;
    padding: 0.4rem;
    margin-right: 0.3rem;
    cursor: pointer;
  }
}
@media only screen and (max-width: 368px) {
  nav {
    margin: 0.3rem 0.3rem 0.7rem 0;
  }
  nav a {
    font-size: 0.8rem;
    border-radius: 4px;
    padding: 0.3.5rem;
    margin-right: 0.2rem;
  }
}
